<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Max Bickers</title>

<style>
{{ readFile "static/styles/style.css" | safeCSS }}
</style>

<style>
{{ readFile "static/styles/index.css" | safeCSS }}
</style>

<style>
{{ readFile "assets/resume.css" | safeCSS }}
</style>

    </head>
    <body>
        <header>
            <h1>
                <a href="https://bickers.dev/">Max Bickers</a>
            </h1>
            <hr>
        </header>

        {{ with .GetPage "welcome_resume" }}
        {{ .Content }}
        {{ end }}

        <div id="resume-flex-grid">
            {{ with .GetPage "resume" }}
            {{ .Content }}
            {{ end }}
        </div>
    </body>
</html>
