<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ if .Title }}{{ .Title }} | {{ end }}bickers.dev</title>

        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <script src="/scripts/background.js"></script>
        <link rel="icon" type="image/png" href="/favicon.png">

        {{ block "head" . }}
        {{ end }}
    </head>
    <body>
        <canvas id="background-canvas"></canvas>

        <div id="wrapper">
            <div id="solid-background">
                <header>
                    <h1>
                        <a href="/">Max Bickers</a>
                    </h1>
                    <hr>
                    <div class="header-flex-container">
                        <a class="header-flex-item" href="/">about</a>
                        <a class="header-flex-item" href="/bookshelf">bookshelf</a>
                        <a class="header-flex-item" href="mailto:mbickers@umich.edu">contact</a>
                    </div>
                </header>

                {{ block "main" . }}
                {{ end }}
            </div>
        </div>
    </body>
</html>
