* {
    animation: none !important;
}

[tooltip]::before {
    display: none !important;
}

@page {
    margin: 0;
    size: 8.5in 11in;
}

body {
    margin: auto;
    max-width: 8.5in;
    max-height: 11in;
    font-size: 83%;
    padding: 0.25in 0.5in;
}

header {
    margin-bottom: 1em;
}

h1 a {
    font-style: inherit;
}

a {
    background: none;
    font-style: italic;
}

.link-row {
    margin-bottom: 1em;
}

#resume-flex-grid {
    display: flex;
}

.resume-flex-item {
    margin-bottom: 2em;
}

#experience, #projects {
    margin-right: 5em;
}

.resume-flex-item .link-row {
    display: none;
}
