#solid-background {
    background-color: transparent;
}

#resume-flex-grid {
    display: block;
    flex-wrap: wrap;
}

.resume-flex-item {
    margin-bottom: 3em;

    flex: 1;

    /* Don't want more than 2 columns per row */
    min-width: 40%;
}

#welcome {
    margin-top: 13vh;
    margin-bottom: 13vh;
}

#welcome p {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

.resume-flex-item hr {
    margin-bottom: 0;
}

h3 {
    display: inline-block;
    width: 100%;
}

#skills-interests p, .resume-flex-item h3 {
    margin: 1em 0 0;
}

.resume-flex-item p, .resume-flex-item ul {
    margin: 0;
}

/* Responsive Layout */
@media screen and (min-width: 800px) {
    #welcome {
        width: 50%;
    }

    #resume-flex-grid {
        display: flex;
    }

    #experience, #projects {
        margin-right: 5em;
    }
}

/* Animation */
@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(7vh) scale(0.9);
    }

    to {
        opacity 1;
        transform: translateY(0px) scale(1);
    }
}

#welcome h2 {
    animation: appear ease 2.5s;
}

#welcome p {
    animation: appear ease 2s 0.5s both;
}
