.resume-only, #header-float {
    display: none;
}

#wrapper {
    margin-top: 1em;
}

.header-flex-item {
    margin-right: .35em;
}

#welcome {
    margin-top: 13vh;
    margin-bottom: 13vh;
}

/* Responsive Layout */
@media screen and (min-width: 800px) {
    #welcome {
        width: 40%;
    }

    .section-flex-grid {
        display: flex;
    }
}

/* Animation */
@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(7vh) scale(0.9);
    }

    to {
        opacity 1;
        transform: translateY(0px) scale(1);
    }
}

#welcome h2 {
    animation: appear ease 2.5s;
}

#welcome p {
    animation: appear ease 2s 0.5s both;
}
