.project-links {
    margin-top: 0;
}

#welcome p {
    margin-top: 0;
    display: block;
}

ul {
    margin-top: -1em;
    margin-bottom: 0;
}

.section-flex-grid {
    display: block;

    flex-wrap: wrap;
}

.section-flex-item {
    display: block;

    flex: 1;

    /* Don't want more than 2 columns per row */
    min-width: 40%;
}

#welcome {
    margin-top: 13vh;
    margin-bottom: 13vh;
}

#solid-background {
    background-color: transparent;
}

/* Responsive Layout */
@media screen and (min-width: 800px) {
    #welcome {
        width: 40%;
    }

    .section-flex-grid {
        display: flex;
    }
}

/* Animation */
@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(7vh) scale(0.9);
    }

    to {
        opacity 1;
        transform: translateY(0px) scale(1);
    }
}

#welcome h2 {
    animation: appear ease 2.5s;
}

#welcome p {
    animation: appear ease 2s 0.5s both;
}
