@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Open+Sans:wght@300;400&display=swap');

/* Document */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#wrapper {
    position: relative;
    z-index: 1;

    max-width: 1024px;

    margin: 0 auto;
    padding: 1em;
    padding-bottom: 5em;
}

#solid-background {
    padding: 0.7em 2em 1.5em;
    background-color: white;
}

/* Header/Sections */
header, .section-flex-grid div {
    margin-bottom: 3em;
}

hr {
    display: block;
    border: 0;
    border-top: 3px solid black;
    padding: 0;

    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-left: -1.25em;
    margin-right: -1.25em;
}

h1, h2 {
    margin: 0;
}

.link-row p a {
    margin-right: 0.15em;
}

.header-flex-item {
    margin-right: 0.3em;
}

.float-right {
    float: right;
    text-align: right;
    margin-left: 1em;
}

[tooltip]:hover::before, [tooltip]:focus::before {
    content: attr(tooltip);
    display: inline-block;
    position: absolute;
    z-index: 1;

    border: 1px solid black;
    border-radius: 6px;
    padding: 3px;

    background-color: white;
}

/* Text */

h1, h2, .header-flex-item {
    font-size: 1.4em;
    line-height: 1.7;
    font-family: 'Nunito Sans', sans-serif;
}

h3, strong, p, li, .float-right {
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    line-height: 1.6;
}

h3, strong {
    font-weight: 400;
}

p, li, .float-right {
    font-weight: 300;
}

a {
    color: black;
    text-decoration: none;

    background: linear-gradient(to right, #8360c3, #2ebf91);
    background-position: 0% 100%;
    background-repeat: no-repeat;

    background-size: 100% 0.1em;

    transition: background-size .2s ease-out;
}

a:hover, a:focus {
    color: #3f3f3f;
    background-size: 100% 0.25em;
}

h1 a, .header-flex-item {
    background-size: 0% .2em;
}

h1 a:hover, h1 a:focus, .header-flex-item:hover, .header-flex-item:focus {
    color: black;

    background-size: 100% .2em;
}
