@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Open+Sans:wght@300;400&display=swap');

/* Document */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#wrapper {
    position: relative;
    z-index: 1;

    max-width: 1024px;
    margin: auto;
    margin-bottom: 6em;
}

/* Header/Sections */
header, section {
    margin: 1.4em;
    margin-top: 0;
    margin-bottom: 4em;

    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1.2em;
}

hr {
    display: block;
    border: 0;
    border-top: 3px solid black;
    padding: 0;

    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-left: -1.5em;
    margin-right: -1.5em;
}

h1, h2, .header-flex-item {
    margin: 0;

    font-size: 1.4em;
    line-height: 1.7;
    font-family: 'Nunito Sans', sans-serif;
}

h1 a, .header-flex-item, #header-float {
    text-decoration: none;
}

/* Text */
p, li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

ul {
    margin-top: -1em;
    margin-bottom: 0;
}

a {
    color: black;
}

strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.no-break {
    white-space: nowrap;
}
